body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

header {
    background-color: white;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.search-container {
    text-align: center;
}

.search-bar {
    display: inline-block;
    border-radius: 25px;
    overflow: hidden;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 25px;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #f2f2f2;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e6e6e6;
}




